<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/camp/list">List all Campgrounds</a>
        <a class="nav-link" href="/camp/new">New Campground</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <% if (!user) { %>
        <a class="nav-link" href="/auth/register">REGISTER</a>
        <a class="nav-link" href="/auth/login">LOGIN</a>
      <% } else { %>
        <form action="/auth/logout" method="POST">
          <button class="btn btn-danger">LOGOUT</button>
        </form>
<!--        <a class="nav-link" href="/auth/logout">LOGOUT</a>-->
      <% } %>
    </div>
  </div>
</nav>